body {
  font-family: Source Sans Pro, sans-serif;
}

/* Commons styles */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  /* Normalization for tailwindcss border utilities */
  border-color: theme('borderColors.default', currentColor);
  border-style: solid;
  border-width: 0;
}

body {
  min-width: calc(300rem / 16);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  min-height: 100vh;

  @apply text-gray-darker;
  @apply text-base;
  @apply font-sans;
}
