{
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier",
    "plugin:jsx-a11y/strict"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "jsx-a11y/no-autofocus": 1,
    "testing-library/prefer-screen-queries": 1
  },
  "overrides": [
    {
      "files": [
        "*.stories.{js,jsx,ts,tsx}"
      ],
      "rules": {
        "jsx-a11y/anchor-is-valid": 0
      }
    }
  ]
}
