@import "./tailwind.css";
@import "./fonts/source-sans-pro/index.css";
@import "./fonts/inconsolata/index.css";
@import "./fonts/bxicons/index.css";
@import "./typography.css";
@import "~formiojs/dist/formio.full.css";
@import "~@tsed/tailwind-formio/styles/index.css";
