
.form-check {
  @apply relative block;
}

.form-check-label {
  @apply inline-flex items-center mb-0;
}

.form-check-input {
  @apply appearance-none p-0 inline-block align-middle flex-shrink-0 bg-white border-1;
  @apply rounded border-gray-300 text-primary-600 shadow-sm;
  @apply mr-2;
  color-adjust: exact;
  background-origin: border-box;
  user-select: none;
  height: theme('spacing.4');
  width: theme('spacing.4');

  &:focus {
    --tw-ring-offset-width: 2px;
    outline-offset: theme('outline.none[1]');
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    @apply outline-none border-primary-300 ring ring-primary-50 ring-opacity-50;
  }

  &[type='radio'] {
    @apply rounded-full;
  }

  &[type='checkbox']:indeterminate,
  &[type='checkbox']:checked,
  &[type='radio']:checked {
    @apply border-transparent bg-current bg-center bg-no-repeat;
    background-size: 100% 100%;
  }

  &[type='checkbox']:indeterminate,
  &[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  &[type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }

  &[type='checkbox']:checked:hover,
  &[type='checkbox']:checked:focus,
  &[type='radio']:checked:hover,
  &[type='radio']:checked:focus {
    @apply border-transparent bg-current;
  }

  &:disabled ~ span {
    @apply text-gray-600;
  }
}