
.react-select-container {
  display: block;
  flex: 1;

  .react-select__control {
    @apply appearance-none bg-white leading-normal w-full rounded-md border-1 border-gray-300 shadow-sm;

    &--is-focused {
      @apply outline-none border-primary-300 ring ring-primary-50 ring-opacity-50;
      outline-offset: theme('outline.none[1]');
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      border-color: theme('colors.blue.600');
    }
  }

  .react-select__multi-value {
    @apply bg-primary-600 text-white rounded-md;

    &__label {
      @apply text-white text-xs py-1 px-2;
      font-weight: 600;
    }

    &__remove {
      @apply opacity-80;

      &:hover {
        @apply bg-transparent text-white opacity-100;
      }
    }
  }

  .react-select__value-container.react-select__value-container--is-multi {
    @apply px-2 py-1;
  }
}

.form-group.-with-before {
  .react-select-container .react-select__control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-group.-with-after {
  .react-select-container .react-select__control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/**
 * React Select size rendering
 */
.form-group.-size-small {
  .react-select-container {
    .react-select__control {
      min-height: 28px;
    }
    .react-select__indicator {
      padding: 3px;
    }
    .react-select__multi-value {
      &__label {
        @apply text-white text-xs py-0.5 px-1;
        font-weight: 600;
      }

      &__remove {
        @apply opacity-80;

        &:hover {
          @apply bg-transparent text-white opacity-100;
        }
      }
    }

    .react-select__input-container {
      margin-top:1px;
      margin-bottom: 1px;
    }
    .react-select__single-value {
      @apply text-sm;
    }

    .react-select__value-container.react-select__value-container--is-multi {
      @apply px-1 py-0;
    }
  }
}
